Options -Indexes

ErrorDocument 400 /error.php
ErrorDocument 401 /error.php
ErrorDocument 403 /error.php
ErrorDocument 404 /error.php
ErrorDocument 405 /error.php
ErrorDocument 408 /error.php
ErrorDocument 419 /error.php
ErrorDocument 429 /error.php
ErrorDocument 500 /error.php
ErrorDocument 502 /error.php
ErrorDocument 503 /error.php
ErrorDocument 504 /error.php

<Files "users.json">
    Order Allow,Deny
    Deny from all
</Files>

AddDefaultCharset UTF-8

RewriteEngine On
RewriteRule ^account-status$ donasi.php [L]
RewriteRule ^error$ error.php [L]
RewriteRule ^home$ index.php [L]
RewriteRule ^playing$ player.php [L]
RewriteRule ^payment$ key.php [L]
RewriteRule ^play$ msx.php [L]
RewriteRule ^bios$ get_bios.php [L]

AddType application/wasm .wasm
AddType application/x-javascript .js

AddType application/octet-stream .bin

<FilesMatch "\.(bin|rom|cue|chd)$">
    Header set Access-Control-Allow-Origin "*"
</FilesMatch>